<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Meditogether 관리자 페이지 로그인</title>
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="login-container">
    <h1>Meditogether 관리자 페이지 로그인</h1>
    <form th:action="@{/loginProc}" method="post" name="loginForm">
        <input id="username" type="password" name="username" placeholder="비밀번호" required/>

        <input type="submit" value="로그인"/>
    </form>
</div>
</body>
</html>
