<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>다음 우편번호 검색</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<script>
    new daum.Postcode({
        oncomplete: function(data) {
            if (data.userSelectedType == "R") {
                // 도로명 주소 선택 시
                window.Leaf.getAddress(data.zonecode, data.roadAddress, data.buildingName);
            } else {
                // 지번 주소 선택 시
                window.Leaf.getAddress(data.zonecode, data.jibunAddress, data.buildingName);
            }
        }
    }).open();
</script>
</body>
</html>